<!DOCTYPE html>
<html lang=en >
  <head>
  <title>room</title>
  <meta charset="utf-8">
  <meta name="viewport" content="widh=device-width, iniial-scale=1.0">
  <meta http-equiv="X-UA-Compaible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="container">
      <p>Video chat, room: {{ .RoomID }}</p>
      <div class="btns">
        <button id="startButton" class="btn">Start</button>
        <button id="callButton" class="btn">Call</button>
        <button id="hangupButton" class="btn">Hang Up</button>
      </div>
      <div id="video-grid">
        <div class="video-box">
          <p id="localName" class="clientName">{{ .ClientID }}</p>
          <video id="localVideo" playsinline autoplay muted></video>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/js/main.js" async></script>
  </body> 
</html>